@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-600 hover:text-blue-800;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500
}
.red-button {
  @apply rounded bg-red-600 py-2 px-2 shadow outline-none hover:bg-red-400 active:bg-red-400 text-white
}
.edit-button {
  @apply rounded bg-blue-600 py-2 px-6 shadow outline-none hover:bg-red-400 active:bg-blue-400 text-white
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300
}
input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}
.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}
.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}
.alert-success {
  @apply my-3 rounded-lg bg-red-100 p-3 text-green-700;
}
.container {
  padding: 0 1px;
}

.element:hover {
  animation: mymove 10s infinite;
  border-radius: 550px;
}
.element1 {
  height: 200px;
  width: 250px;
  animation: nudge 2s linear alternate;
  border-radius: 10px;
  margin: 7px;
}
.element2 {
  height: 500px;
  width: 300px;
  animation: nudge 3s linear alternate;
  border-radius: 10px;
  margin: 7px;background-color: blueviolet;
}
.element3 {
  height: 500px;
  width: 300px;
  animation: nudge 3.5s linear alternate;
  border-radius: 10px;
  margin: 7px;
}
.element4 {
  height: 500px;
  width: 300px;
  animation: nudge 4s linear alternate;
  border-radius: 10px;
  margin: 7px;
}
.element5 {
  height: 500px;
  width: 300px;
  animation: nudge 4.5s linear alternate;
  border-radius: 10px;
  margin: 7px;
}
.element1:hover {
  animation: mymove 10s infinite;
  border-radius: 550px;
}
.element2:hover {
  animation: mymove 10s infinite;
  border-radius: 550px;
}
.element3:hover {
  animation: mymove 10s infinite;
  border-radius: 550px;
}
.element4:hover {
  animation: mymove 10s infinite;
  border-radius: 550px;
}
.element5:hover {
  animation: mymove 10s infinite;
  border-radius: 550px;
}
.map-container {
  width: auto;
  height:400px;
}
.imagethumb {
  display: flex;
  flex-wrap: true;
}

@keyframes pulse {
  0%,
  100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}

@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 1650);
  }

  50% {
    transform: translate(-350px, 0);
    transform: rotate(45deg);
  }

  80% {
    transform: translate(350px, 0);
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .headerLi {
    @apply text-primaryColor hover:text-secondaryColor cursor-pointer duration-300;
  }
}
